<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.uclouvain.sinf1225.gourmet"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="17" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>
    
    <uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="be.uclouvain.sinf1225.gourmet.Gourmet"
        android:clearTaskOnLaunch="true"
        android:debuggable="true">
        <meta-data
    		android:name="com.google.android.maps.v2.API_KEY"
    		android:value="AIzaSyDOV0dZeIM3-f3cOGOV4gExvg0gVH5GOiY"/>
        <activity
            android:name="be.uclouvain.sinf1225.gourmet.LoginView"
            android:label="@string/app_name"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="be.uclouvain.sinf1225.gourmet.CityListView"
            android:label="@string/app_name"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name="be.uclouvain.sinf1225.gourmet.CityMapView"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="be.uclouvain.sinf1225.gourmet.DishEditView"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="be.uclouvain.sinf1225.gourmet.ImageGalleryActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="be.uclouvain.sinf1225.gourmet.PreferenceManagerView"
            android:label="@string/app_name"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name="be.uclouvain.sinf1225.gourmet.ReservationManagerView"
            android:label="@string/app_name"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name="be.uclouvain.sinf1225.gourmet.RestaurantEditView"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="be.uclouvain.sinf1225.gourmet.RestaurantImageView"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="be.uclouvain.sinf1225.gourmet.RestaurantListView"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="be.uclouvain.sinf1225.gourmet.RestaurantView"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="be.uclouvain.sinf1225.gourmet.TestView"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="be.uclouvain.sinf1225.gourmet.ViewDishImage"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="be.uclouvain.sinf1225.gourmet.ViewRestaurantImage"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>